# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*                       @xiulipan @Bin-QA

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# file type
*.py                    @Bin-QA @aiChaoSONG @marc-hb
*.sh                    @Bin-QA @marc-hb
*.md                    @fredoh9 @marc-hb

# tools and caselib
case-lib/*              @Bin-QA @xiulipan @marc-hb
tools/*                 @Bin-QA @aiChaoSONG @marc-hb
tools/kmod/*            @aiChaoSONG @plbossart @marc-hb

# test case
test-case/manual/*      @fredoh9 @marc-hb
test-case/*playback*    @aiChaoSONG @marc-hb
test-case/*capture*     @aiChaoSONG @marc-hb
test-case/*kmod*        @Bin-QA @aiChaoSONG @marc-hb
test-case/*pause*       @Bin-QA @marc-hb
test-case/*runtime*     @Bin-QA @aiChaoSONG @marc-hb
test-case/*logger*      @fredoh9 @marc-hb
test-case/verify*       @aiChaoSONG @libinyang @marc-hb
test-case/*ucm*         @libinyang @marc-hb
test-case/*papaly*      @aiChaoSONG @libinyang @marc-hb
test-case/*parecord*    @aiChaoSONG @libinyang @marc-hb
test-case/*alsabat*     @keqiaozhang @marc-hb
test-case/*xrun*        @keqiaozhang @marc-hb
test-case/*stop*        @keqiaozhang @marc-hb
