---

name: yamllint

# yamllint disable-line rule:truthy
on: [push, pull_request, workflow_dispatch]

jobs:

  yamllint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - name: yamllint github actions
        run: yamllint .github/workflows/*.yml
